name: Android CI

on:
  push:
    branches: [ "main", "feature/**", "chore/**", "fix/**", "feat/**" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'gradle'

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: 8.5

      - name: Ktlint check
        run: gradle :app:ktlintCheck --no-daemon

      - name: Detekt
        run: gradle :app:detekt --no-daemon

      - name: Android Lint
        run: gradle :app:lintDebug --no-daemon

      - name: Unit tests
        run: gradle :app:testDebugUnitTest --no-daemon

      - name: Assemble Debug
        run: gradle :app:assembleDebug --no-daemon
